#nav-bar{
    position: fixed;
   background-color: blue;
   font-size: 30px;
}

#header-img{
    width: 100px;
    height: auto;
    float: center;
}

#video{
    position: relative;
    top: 100px;

}
#background{
    
}